spring:
  datasource:
    url: jdbc:h2:mem:testdb
  h2:
    console:
      enabled: true
  session:
    store-type: redis

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: id
            client-secret: secret
            scope: openid, profile, email
  data:
    redis:
      host: localhost